h1= title
hr
nav
    ul
        li
            a(href='../about') About Me
        li
            a(href='../services') Services
        li
            a(href='../projects') Projects          
        li
            a(href='../contact') Contact Me
        
